<% provide :page_title, 'Рассылки' %>

<p class="mg-bottom-20">
  <%= link_to 'Создать рассылку', new_sms_delivery_path, class: 'btn btn-success' %>
</p>
<table class="table table-hover">
  <thead>
  <tr>
    <th class="col-md-2 col-sm-2">Название</th>
    <th class="col-md-2 col-sm-2">Лист получателей</th>
    <th class="col-md-2 col-sm-2">Отправитель</th>
    <th class="col-md-3 col-sm-3">Текст смс</th>
    <th class="col-md-3 col-sm-3">Действия</th>
  </tr>
  </thead>
  <tbody>
  <% @sms_deliveries.each do |sms| %>
      <tr>
        <td><%= link_to sms.title, sms_delivery_url(sms) %></td>
        <td><%= sms.contact_list.title %></td>
        <td><%= sms.sender.name %></td>
        <td><%= truncate(sms.content, length: 70) %></td>
        <td>
          <%= form_for sms, url: sms_send_message_path(sms), method: :post do |f| %>
              <% unless sms.status %>
                  <%= f.submit 'Отправить', class: 'btn btn-default btn-xs' %>
                  <%= link_to '<i class="fa fa-edit fa-lg"></i>'.html_safe,
                              edit_sms_delivery_path(sms),
                              class: 'btn btn-default btn-xs',
                              id: "sms_delivery_#{sms.id}_edit" %>
              <% end %>
              <%= link_to '<i class="fa fa-remove fa-lg"></i>'.html_safe,
                          sms_delivery_path(sms),
                          method: :delete,
                          data: {confirm: 'Вы действительно хотите удалить эту рассылку?'},
                          class: 'btn btn-danger btn-xs',
                          id: "sms_delivery_#{sms.id}_delete" %>
          <% end %>
          <%= link_to 'Переотправить', sms_resend_path(sms), class: 'btn btn-warning btn-xs' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-md-12 col-sm-12 col-sm-12">
    <%= will_paginate @sms_deliveries %>
  </div>
</div>

