<% provide :page_title, 'Просмотр рассылки - ' + @sms_delivery.title %>

<table class="table table-hover">
  <tr>
    <td>Название</td>
    <td><%= @sms_delivery.title %></td>
  </tr>
  <tr>
    <td>Отправитель</td>
    <td><%= @sms_delivery.sender.name %></td>
  </tr>
  <tr>
    <td>Лист получателей</td>
    <td><%= @sms_delivery.contact_list.title %></td>
  </tr>
  <tr>
    <td>Текст смс</td>
    <td><%= @sms_delivery.content %></td>
  </tr>
</table>
<p>
  <%= form_for @sms_delivery, url: sms_send_message_path, method: :post do |f| %>
      <%= f.submit 'Отправить', class: 'btn btn-default' %>
      <%= link_to 'Редактировать', edit_sms_delivery_path(@sms_delivery), class: 'btn btn-default' %>
      <%= link_to 'Удалить', sms_delivery_path(@sms_delivery), method: :delete, class: 'btn btn-danger',
                  data: {confirm: 'Вы действительно хотите удалить эту рассылку?'} %>
  <% end %>
</p>





