<div class="form-group col-sm-12">
  <div class="col-sm-8">
    <div class="col-sm-2">
      <%= link_to 'Редактировать', edit_sms_delivery_path(@sms_delivery), class: 'btn btn-default' %>
    </div>

    <div class="col-sm-2">
      <%= link_to 'Удалить', sms_delivery_path(@sms_delivery), method: :delete, class: 'btn btn-default',
                  data: {confirm: 'Вы действительно хотите удалить эту рассылку?'} %>
    </div>

    <div class="col-sm-8">
      <%= form_for @sms_delivery, url: sms_send_message_path, method: :post do |f| %>
          <%= f.submit 'Отправить', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>

<div class="form-group col-sm-12">
  <div class="col-sm-2">
    <span>Название:</span>
  </div>

  <div class="col-sm-6">
    <p class="list-group-item list-group-item-info">
      <%= @sms_delivery.title %>
    </p>
  </div>
</div>

<div class="form-group col-sm-12">
  <div class="col-sm-2">
    <span>Отправитель:</span>
  </div>

  <div class="col-sm-6">
    <p class="list-group-item list-group-item-info">
      <%= @sms_delivery.sender.name %>
    </p>
  </div>
</div>

<div class="form-group col-sm-12">
  <div class="col-sm-2">
    <span>Лист получателей:</span>
  </div>

  <div class="col-sm-6">
    <p class="list-group-item list-group-item-info">
      <%= @sms_delivery.contact_list.title %>
    </p>
  </div>
</div>

<div class="form-group col-sm-12">
  <div class="col-sm-2">
    <span>Текст смс:</span>
  </div>

  <div class="col-sm-6">
    <p class="list-group-item list-group-item-info">
      <%= @sms_delivery.content %>
    </p>
  </div>
</div>

