<% provide :page_title, 'Листы получателей' %>

<p class="mg-bottom-20">
  <%= link_to 'Новый лист', new_contact_list_path, class: 'btn btn-success' %>
</p>

<div class="col-md-6 col-sm-6 col-xs-12">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Название</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <% @contact_lists.each do |list| %>
        <tr>
          <td><%= link_to list.title, contact_list_path(list) %></td>
          <td>
            <%= link_to '<i class="fa fa-envelope-o fa-lg"></i>'.html_safe,
                        sms_new_from_contact_list_path(list),
                        class: 'btn btn-default btn-xs'%>
            <%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe,
                        edit_contact_list_path(list),
                        class: 'btn btn-default btn-xs',
                        id: "contact_list_#{list.id}_edit" %>
            <%= link_to '<i class="fa fa-remove fa-lg"></i>'.html_safe,
                        contact_list_path(list),
                        method: :delete,
                        data: {confirm: 'Вы действительно хотите удалить этот лист получателей?'},
                        class: 'btn btn-danger btn-xs',
                        id: "contact_list_#{list.id}_delete"  %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <%= will_paginate @contact_lists %>
  </div>
</div>
