<% provide :page_title, 'План курса' %>

<p class="mg-bottom-20">
  <%= link_to 'Добавить учебный материал', new_course_element_path, class: 'btn btn-success' %>
</p>
<table class="table table-hover">
  <thead>
  <tr>
    <th class="col-md-2 col-sm-2">Тема</th>
    <th class="col-md-2 col-sm-2">Тип</th>
    <th class="col-md-2 col-sm-2">Действия</th>
  </tr>
  </thead>
  <tbody>
  <% @course_elements.each do |course_element| %>
      <tr>
        <td><%= course_element.theme %></td>
        <td><%= course_element.element_type %></td>
        <td>
          <%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe,
                      edit_course_element_path(course_element),
                      class: 'btn btn-default btn-xs' %>
          <%= link_to '<i class="fa fa-remove fa-lg"></i>'.html_safe,
                      course_element_path(course_element),
                      method: :delete,
                      data: {confirm: 'Вы действительно хотите удалить данный учебный блок?'},
                      class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <%= will_paginate @course_elements %>
  </div>
</div>
