<% provide :page_title, 'Группы' %>

<p class="mg-bottom-20">
  <%= link_to 'Создать группу', new_group_path, class: 'btn btn-success' %>
</p>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Группа</th>
    <th>Курс</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group_path(group) %></td>
        <td><%= group.course.name %></td>
        <td>
          <%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe,
                      edit_group_path(group),
                      class: 'btn btn-default btn-xs',
                      id: "group_#{group.id}_edit" %>
          <%= link_to '<i class="fa fa-remove fa-lg"></i>'.html_safe,
                      group_path(group),
                      method: :delete,
                      data: {confirm: 'Вы действительно хотите удалить данную группу?'},
                      class: 'btn btn-danger btn-xs',
                      id: "group_#{group.id}_delete" %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <%= will_paginate @groups %>
  </div>
</div>
