<table class="table">
  <tr>
    <td class="col-md-4 col-sm-4 col-xs-12">Имя</td>
    <td class="col-md-4 col-sm-4 col-xs-12"><%= @user.name %></td>
  </tr>
  <tr>
    <td class="col-md-4 col-sm-4 col-xs-12">Фамилия</td>
    <td class="col-md-4 col-sm-4 col-xs-12"><%= @user.surname %></td>
  </tr>
  <tr>
    <td class="col-md-4 col-sm-4 col-xs-12">Дата рождения</td>
    <td class="col-md-4 col-sm-4 col-xs-12"><%= @user.birthdate %></td>
  </tr>
  <tr>
    <td class="col-md-4 col-sm-4 col-xs-12">Пол</td>
    <td class="col-md-4 col-sm-4 col-xs-12"><%= @user.gender %></td>
  </tr>
  <tr>
    <td class="col-md-4 col-sm-4 col-xs-12">Паспортные данные</td>
    <td class="col-md-4 col-sm-4 col-xs-12"><%= @user.passport_data %></td>
  </tr>
  <tr>
    <td class="col-md-4 col-sm-4 col-xs-12">Скан-копия паспорта</td>
    <% if @user.passport_scan_copy.exists? %>
        <td class="col-md-4 col-sm-4 col-xs-12"><%= link_to @user.passport_scan_copy_file_name, @user.passport_scan_copy.url(:large) %></td>
    <% else %>
        <td class="col-md-4 col-sm-4 col-xs-12">Файл не загружен</td>
    <% end %>
  </tr>
</table>
