<div class="profile">
  <div class="panel user-photo">
    <div class="panel-body">
      <%= image_tag @user.photo.url(:medium), class: 'img-rounded' %>
    </div>
  </div>
  <div class="panel user-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span>
          <%= @user.full_name %> - <%= @user.roles.map { |role| role.name }.join(', ') %>
        </span>
        <%= yield :links %>
      </h3>
    </div>
    <div class="panel-body">
      <h4>Общая информация</h4>
      <%= render 'general_info' %>
      <h4>Контактные данные</h4>
      <%= render 'contact_info' %>
    </div>
  </div>
</div>