<% provide :page_title, 'Преподаватели' %>

<p class="mg-bottom-20">
  <%= link_to 'Добавить преподавателя', new_user_path, class: 'btn btn-success' %>
</p>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Преподаватель</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>

  <% @instructors.each do |instructor| %>
      <tr>
        <td><%= link_to instructor.full_name, user_path(instructor) %></td>
        <td>
          <%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe, edit_user_path(instructor),
                      class: 'btn btn-default btn-xs' %>
          <%= link_to '<i class="fa fa-remove fa-lg"></i>'.html_safe, user_path(instructor),
                      method: :delete, data: {confirm: 'Вы действительно хотите удалить данного пользователя?'},
                      class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-sm-12">
    <%= will_paginate @instructors %>
  </div>
</div>
