<% provide :page_title, 'Студенты' %>

<p class="mg-bottom-20">
  <%= link_to 'Добавить студента', new_user_path, class: 'btn btn-success' %>
</p>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Студент</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.full_name, user_path(student) %></td>
        <td>
          <%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe, edit_user_path(student),
                      class: 'btn btn-default btn-xs' %>
          <%= link_to '<i class="fa fa-remove fa-lg"></i>'.html_safe, user_path(student),
                      method: :delete, data: {confirm: 'Вы действительно хотите удалить данного пользователя?'},
                      class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-sm-12">
    <%= will_paginate @students %>
  </div>
</div>
