<div>
  <%= @period.title %>
</div>
<div>
  <%= form_for [@period, @control_work] do |f| %>

      <div class="form-group col-sm-12">
        <%= f.label :hw_archive, value: 'Загрузите архив*', class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= f.file_field :hw_archive, autofocus: true, class: 'bootstrap-class' %>
        </div>

        <%= render 'shared/field_errors', object: @control_work, field_name: :hw_archive %>
      </div>

      <div class="form-group col-sm-12">
        <div class="col-sm-offset-3 col-sm-6">
          <%= f.submit 'Отправить', class: 'btn btn-default' %>
        </div>
      </div>

  <% end %>
</div>