<h1>Все отправители</h1>
<p><%= link_to 'Новый отправитель', new_sender_path, class: 'btn btn-primary margin-bottom' %></p>

<table class="table table-striped table-hover col-sm-12">
  <tr>
    <th class="col-sm-3">Имя</th>
    <th class="col-sm-3">Логин</th>
    <th class="col-sm-3">Действия</th>
  </tr>
  <% @senders.each do |sender| %>
      <tr>
        <td><%= link_to sender.name, sender_path(sender) %></td>
        <td><%= sender.sms_service_account.login %></td>
        <td>
          <%= link_to 'Редактировать', edit_sender_path(sender), class: 'btn btn-success btn-xs' %>
          <%= link_to 'Удалить', sender_path(sender), method: :delete,
                      data: {confirm: 'Вы действительно хотите удалить данного отправителя?'}, class: 'btn btn-danger btn-xs'  %>
        </td>
      </tr>
  <% end %>
</table>