<% provide :page_title, 'Учетные записи' %>

<p class="mg-bottom-20">
  <%= link_to 'Создать учетную запись', new_sms_service_account_path, class: 'btn btn-success' %>
  <%= link_to 'Добавить отправителя', new_sender_path, class: 'btn btn-success' %></p>
</p>
<table class="table table-hover">
  <thead>
  <tr>
    <th class="col-md-3 col-sm-3">Логин</th>
    <th class="col-md-3 col-sm-3">Пароль</th>
    <th class="col-md-3 col-sm-3">Отправители</th>
    <th class="col-md-3 col-sm-3">Действия</th>
  </tr>
  </thead>
  <tbody>
  <% @sms_service_accounts.each do |account| %>
      <tr>
        <td><%= link_to account.login, sms_service_account_path(account) %></td>
        <td><%= account.password %></td>
        <td>
          <% account.senders.each do |sender| %>
              <p><%= sender.name %></p>
          <% end %>
        </td>
        <td>
          <%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe, edit_sms_service_account_path(account),
                      class: 'btn btn-default btn-xs' %>
          <%= link_to '<i class="fa fa-remove fa-lg"></i>'.html_safe, sms_service_account_path(account),
                      method: :delete,
                      data: {confirm: 'Вы действительно хотите удалить данную учетную запись?'},
                      class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <%= will_paginate @sms_service_accounts %>
  </div>
</div>