<% provide :page_title, 'Просмотр учетной записи - ' + @sms_service_account.login %>

<div class="col-md-6 col-sm-6 col-xs-12">
  <table class="table table-hover">
    <tr>
      <td>Логин</td>
      <td><%= @sms_service_account.login %></td>
    </tr>
    <tr>
      <td>Пароль</td>
      <td><%= @sms_service_account.password %></td>
    </tr>
    <tr>
      <td>Отправители</td>
      <td>
        <% if @sms_service_account.senders.size == 0 %>
            Не созданы
        <% else %>
            <% @sms_service_account.senders.each do |sender| %>
                <p><%= sender.name %></p>
            <% end %>
        <% end %>
      </td>
    </tr>
  </table>
  <p>
    <%= link_to 'Редактировать', edit_sms_service_account_path(@sms_service_account),
                class: 'btn btn-default' %>
    <%= link_to 'Удалить', sms_service_account_path(@sms_service_account),
                method: :delete,
                data: {confirm: 'Вы действительно хотите удалить данную учетную запись?'},
                class: 'btn btn-danger' %>
  </p>
</div>