<% provide :page_title, 'Учебные модули' %>

<p class="mg-bottom-20">
  <%= link_to 'Добавить учебный модуль', new_academic_unit_path, class: 'btn btn-success' %>
</p>

<table class="table table-hover col-sm-12">
  <thead>
  <tr>
    <th class="col-sm-3">Название модуля</th>
    <th class="col-sm-3">Дата начала</th>
    <th class="col-sm-3">Дата конца</th>
    <th class="col-sm-3">Действия</th>
  </tr>
  </thead>
  <tbody>
  <% @academic_units.each do |unit| %>
      <tr>
        <td><%= link_to unit.title, academic_unit_path(unit) %></td>
        <td><%= link_to unit.starts_at %></td>
        <td><%= link_to unit.ends_at %></td>
        <td> <%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe,
                         edit_academic_unit_path(unit),
                         class: 'btn btn-default btn-xs' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
