<!DOCTYPE html>
<html>
<head>
  <title>StudentCrm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="sign-in">
<h1><%= image_tag 'logo.png' %></h1>
<h2>Электронная образовательная система</h2>
<div class="form">
  <%= flash_messages %>
  <%= yield %>
</div>
</body>
</html>